body {
  background-color: #282828;
}

#base-menu {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.layer-control {
  position: fixed;
  left: 0;
  background-color: transparent;
}

#view-area {
  width: 100vw;
  height: 100%;
}

element.style {
  display: flex;
}

#mobile-controls {
  position: fixed;
  left: 12px;
  bottom: 12px;
  z-index: 4;
  margin: 0 auto;
  width: 98vw;
  height: 34vh;
  display: none;
  flex-direction: row;
  padding: 1rem;
  clear: both;
  box-shadow: #ff5500 0px 0px 0px 8px;
}

#mobile-controls #direction-arrows {
  display: flex;
  flex-direction: column;
}

#mobile-controls #direction-arrows .arrow {
  height: 25%;
  width: 8%;
}

#mobile-controls #direction-arrows .arrow #up {
  display: block;
  margin-bottom: 5%;
}

#mobile-controls #direction-arrows .arrow #down {
  display: block;
}

#mobile-controls #energy-shift .energy #red {
  display: block;
}

#mobile-controls #energy-shift .energy #blue {
  display: block;
}

#how-to-play {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

#phaser-target {
  width: 1025px;
  height: 525px;
  background-color: transparent;
  z-index: 1;
}

#info-overlay {
  color: white;
  border: solid;
  border-color: #6D6D6D;
  border-radius: 4px;
  border-width: 2px;
  background-color: #202020;
  position: absolute;
  margin-left: -327px;
  margin-top: -1px;
  width: 1025px;
  height: 525px;
  z-index: 3;
}

/* Mobile Specific Styles */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
